.perro-1 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color:rgb(64, 216, 64);
    }
}
.perro-2 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color: rgb(64, 216, 64);
    }
}
.perro-3 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color: rgb(64, 216, 64);
    }
}
.gato-1 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color: rgb(64, 216, 64);
    }
}
.gato-2 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color: rgb(64, 216, 64);
    }
}
.gato-3 {
    transition-duration: 5s;
    &:hover {
    height: 250px;
    width: 350px;
    background-color: rgb(64, 216, 64);
    }
}