.fondo-3 {
    color: rgb(9, 9, 9);
    display: flex;
    justify-content: space-between;
    border: 5px solid  rgb(27, 206, 188);
    margin: 60px;
    padding: 20px;
  }
.fondo-5 {
    color: rgb(9, 9, 9);
    display: flex;
    justify-content: space-between;
    border: 5px solid  rgb(21, 129, 118);
    margin: 60px;
    padding: 20px;
}
.fondo-6 {
    color: rgb(9, 9, 9);
    display: flex;
    justify-content: space-between;
    border: 5px solid  rgb(16, 83, 76);
    margin: 60px;
    padding: 20px;
    }
.p-1 {
    display: flex;
    justify-content: center
}
.pie-pag {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
  }
