$color-primario: burlywood;
$color-secundario: bisque;
$color-terciario: rgb(253, 189, 166);
$fuente-principal: "Poppins";
$fuente-secundaria: "Roboto";
$fondo-adopcion: rgb(141, 161, 207);  
$h1: rgb(40, 49, 218);
$h3: rgb(65, 43, 14);
$h5: rgb(0, 0, 0);
$mobile: (480px);
$tablet: (728px);
$desktop: (1024);